.clear{
    clear:both;
}
.container-fluid {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: white;
}

.container-fluid {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.mainNavBar {
    background-color: black;
    color: white;
}

.mainNavBar .col-2, .col-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainNavBar .nav-item {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.mainNavBar .nav-item:hover {
    color: red;
}

/* Hide search bar */
.mainNavBar #search-bar {
    display: none;
}

#search-bar input {
    width: 80%;
    padding: 10px;
    background-color: #000000F2;
    margin-left: 30px;
    color: white;
    font-style: italic;
    box-shadow: none;
    font-size: 18pt;
}

#search-bar input:focus {
    border: 2px solid black !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    font-size: 14pt; 
    font-style: italic;
    transition: all 0.6s;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: red;
    background-color: black;
}

.page_header_login .Image_Pg_Header{
    margin-top: 83px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.pageH {
    display: table;
    width: 100%;
    top: 10px;
    padding-top: 100px;
    position: absolute;
    
}


.page_header_login .Page_header_content{
    color: white;
    width: 50%;
    float: left;
    padding-left: 50px;
    margin-top: 50px;
    font-size: 20px !important;
    font-family: 'Raleway', sans-serif !important;
}

.page_header_login h2{
    font-size: 45px !important;
    font-weight: 600 !important;
}

.page_header_login .Breadcrumbs{
    width: 50%;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 85px;
    padding-right: 100px;
    float: left;
    font-size: 14px !important;
}


.Breadcrumbs{
    font-size: 14px !important;
    font-family: 'Raleway', sans-serif !important;
}
.Breadcrumbs a{
    color: white;
}

.Breadcrumbs a:hover{
    color:  #cecece;
}

.Breadcrumbs i{
    padding: 0 5px;
}

.carousel-item{
    margin-top: 80px;
}

.carousel-item .pic{
    width: 90%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item .pic3{
    max-width: 90%;
    height: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item .carousel-caption{
    bottom: 1000px;
}

.carousel .carousel-indicators{
    bottom: 230px !important;
}

.carousel .carousel-indicators li{
    background: #7d7c7c none repeat scroll 0 0;
    border-color: 1px #7d7c7c;
    border-radius: 5px;
    height: 4px;
    margin-left: 5px !important;
    width: 60px;
    cursor: pointer;
}

.carousel .carousel-indicators .active, .carousel .carousel-indicators.white-color .active {
    background: #ef0400 none repeat scroll 0 0;
    border: 0 none;
    height: 4px;
    margin-left: 5px !important;
    width: 60px;
}


.Content{
    margin-top: -100px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.Content .Header_Content{
    margin-bottom: 20px !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
    position: relative;
}

.Image-center{
    margin-top: 90px;
}

.Image-center .pic4{
    width: 50%;
    max-height: 300px;
    background-size: cover;
    display: block;
    margin-left: 50px;
    margin-right: auto;
    float: left;
    z-index: 0;
    margin-bottom: 100px;
}

.Image-center .content_pic4_header{
    float: left;
    border: 2px solid forestgreen;
    padding: 5px;
    padding-left: 150px;
    font-size: 60px;
    z-index: 1;
    margin-left: -120px;
    margin-top: -20px;
    font-family: 'Oswald', sans-serif;
    color:forestgreen;
}

.Image-center .content_pic4_main{
    width: 500px;
    float: left;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    word-wrap: break-word;
}

.blog1 .blog1-picture{
    width: 80%;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.blog1 .blog1-header, .blog1 .blog1-subheader{
    margin: 0 126.27px;
    word-wrap: break-word;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

.blog1 .blog1-header{
    font-weight: bolder;
}

.blog1 .blog1-header:hover{
    color: red;
}

.blog1 .blog1-subheader{
    font-size: 17px;
    margin-bottom: 60px;
}

.Quotes{
    text-align: center;
    font-style: italic;
    color: #7d7d7d;
    margin-bottom: 90px;
}

.Quotes .quotes1{
    margin-top: 20px;
    font-size: 50px !important;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.Quotes .author1{
    font-family: 'Parisienne', cursive;
    font-size: 45px;
}

.Quotes2{
    margin-bottom: 80px;
}

.Quotes2 .content2-quotes2{
    margin: 0 126.27px;
    line-height: 1.5;
}

.footer {
    min-height: 400px;
    width: 100%;
    background-color: #000000 !important;
    color: #fff;
    padding: 80px;
}

ul, li, ol {
    list-style: none;
}

.address-info {
    padding: 0;
    margin: 0;
}

.address-info li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-line {
    background-color: #ef0400;
    height: 2px;
    margin: 10px auto 25px 0;
    padding: 0;
    width: 36px;
}

.customer-sp {
    padding: 0;
    margin: 0;
}

.customer-sp li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.customer-sp a {
    color: #fff;
}

.customer-sp a:hover {
    text-decoration: none;
    color: #ef0400;
    transition: all 0.5s;
    cursor: pointer;
}

.Copyright {
    min-height: 100px;
    background-color: #1f1f1f;
}

.copyRight-title {
    color: #fff;
    padding: 35px;
    text-align: center;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
}

.social-list {
    padding: 35px;
    text-align: center;
}

.social-app {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-instagram { 
    font-size:30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube {
    color: red
}

.fa-twitter-square {
    color: #00b6f1;
}