.container-fluid {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.mainNavBar {
    background-color: black;
    color: white;
}

.mainNavBar .col-2, .col-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainNavBar .nav-item {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.mainNavBar .nav-item:hover {
    color: red;
    transition: all 0.6s;
}

.mainNavBar #search-bar {
    display: none;
}

.reservation, .contact, .Blog {
    color: #fff;
}

.reservation:hover, .contact:hover, .Blog:hover {
    text-decoration: none;
    color: red;
    transition: all 0.7s;
}

.home {
    color: #fff;
}

.home:hover {
    text-decoration: none;
    color: red;
    transition: all 0.7s;
}

.contact {
    color: #fff;
}

.contact:hover {
    text-decoration: none;
    color: red;
    transition: all 0.7s;
}

.menu {
    color: #fff;
}

.menu:hover {
    text-decoration: none;
    color: red;
    transition: all 0.7s;
}

#search-bar input {
    width: 80%;
    padding: 10px;
    background-color: #000000F2;
    margin-left: 30px;
    color: white;
    font-style: italic;
    box-shadow: none;
    font-size: 18pt;
}

#search-bar input:focus {
    border: 2px solid black !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    font-size: 14pt;
    font-style: italic;
    transition: all 0.6s;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: red;
    background-color: black;
}

.page-header{
    background-image: url('site-img14.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    float: left;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 60px;
    width: 100%;
    margin-bottom: 40px;
}

.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-md-6{
    font-family: 'Raleway', sans-serif;
    float: left;
    width: 50%;
}

.breadcrumbs{
    font-size: 14px;
    font-weight: normal;
    margin: 23px 0 0;
    text-align: right;
}

.breadcrumbs a:hover{
    color: #cecece !important;
}

.breadcrumbs i{
    padding-left: 5px;
    padding-right: 5px;
}

.left-padd0{
    padding-left: 0px !important;
}

.left-section1{
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}

.left-section2{
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
}

.Quotes{
    margin-top: 50px;
    color: #7d7d7d;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.Quotes .author{
    font-family: 'Parisienne', cursive;
    font-size: 45px;
}

.section-lg, .section-lg1, .section-lg2, .section-lg3, .section-lg4, .section-lg5, .section-lg6, .section-lg7,
.section-lg8, .section-lg9, .footer{
    width: 100%;
    float: left;
    margin: 50px 0;
}

.col-7 .header{
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
}

.footer {
    min-height: 400px;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 80px;
    margin: 0 !important;
}

ul, li, ol {
    list-style: none;
}

.address-info {
    padding: 0;
    margin: 0;
}

.address-info li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-line {
    background-color: #ef0400;
    height: 2px;
    margin: 10px auto 25px 0;
    padding: 0;
    width: 36px;
}

.customer-sp {
    padding: 0;
    margin: 0;
}

.customer-sp li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.customer-sp a {
    color: #fff;
}

.customer-sp a:hover {
    text-decoration: none;
    color: #ef0400;
    transition: all 0.5s;
    cursor: pointer;
}

.Copyright {
    min-height: 100px;
    background-color: #1f1f1f;
}

.copyRight-title {
    color: #fff;
    padding: 35px;
    text-align: center;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
}

.social-list {
    padding: 35px;
    text-align: center;
}

.social-app {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-instagram { 
    font-size:30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube {
    color: red
}

.fa-twitter-square {
    color: #00b6f1;
}
