.container-fluid {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: black;
}

.container-fluid {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.mainNavBar {
    background-color: black;
    color: white;
}

.mainNavBar .col-2, .col-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainNavBar .nav-item {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.mainNavBar .nav-item:hover {
    color: red;
}

/* Hide search bar */
.mainNavBar #search-bar {
    display: none;
}

#search-bar input {
    width: 80%;
    padding: 10px;
    background-color: #000000F2;
    margin-left: 30px;
    color: white;
    font-style: italic;
    box-shadow: none;
    font-size: 18pt;
}

#search-bar input:focus {
    border: 2px solid black !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    font-size: 14pt; 
    font-style: italic;
    transition: all 0.6s;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: red;
    background-color: black;
}

.page_header_login .Image_Pg_Header{
    margin-top: 83px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.pageH {
    display: table;
    width: 100%;
    top: 10px;
    padding-top: 100px;
    position: absolute;
    
}

.page_header_login .Page_header_content{
    color: white;
    width: 50%;
    float: left;
    padding-left: 50px;
    margin-top: 50px;
}

.page_header_login .Breadcrumbs{
    width: 50%;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
    padding-right: 100px;
    float: left;
    font-size: 14px !important;
}

.Breadcrumbs a{
    color: white;
}

.Breadcrumbs a:hover{
    color:  #cecece;
}

.Breadcrumbs i{
    padding: 0 5px;
}


.Page_header_content .content_header{
    font-size: 45px !important;
}

.Page_header_content .content_main{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px !important;
}

.Log_in{
    margin-top: 80px !important;
    margin-bottom: 80px !important;  
    max-width:50%; 
    margin:auto;
}

.frame_log_in{
    padding: 20px 35px 50px 30px; 
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    min-height: 450px;
}

h3{
    padding: 40px 0 40px 15px !important;
}

.frame_log_in .ROW{
    display: block;
    margin-bottom: 10px;
}

.ROW .col1{
    width: 30%;
}

.ROW .inside{
    width: 70%;
}
.ROW .col{
    display: block;
    float: left;
    opacity: 0.8;
}

.ROW1 .E-mail{
    margin-bottom: 50px;
}

.ROW .col .text_login{
    width: 100%;
    padding: 5px;
    position: relative;
}

.ROW .col .fas{
    padding: 10px;
    color: gray;
    min-width: 50px;
    text-align: center;
    position: absolute;
    margin-left: -50px;
    border-left: 1px solid gray;
    
} 

.frame_log_in .forgot_pass{
    padding-left: 15px;
    margin:auto;
    color: red;
}

.Remember_pass{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Remember_pass .tick{
    margin-left: -30px;
}

.Remember_pass .tick_content{
    margin: 0;
    padding-left: 20px;
    text-align: center;
}
.button{
    float: right;
    padding-top: 20px;
    text-align: center;
    padding-right: 15px;
}

.button a{
    font: 600 20px/39px 'Raleway', sans-serif ;
    padding: 4px 35px;
    height: 46px;
    border-radius: 0;
    font-weight: bold;
    color: white;
}

.button input{
    font: 600 20px/39px 'Raleway', sans-serif ;
    padding: 4px 35px;
    height: 46px;
    border-radius: 0;
    font-weight: bold;
    color: white;
}

.button .register{
    background-color: #b5b5b5;
}

.button .loginbtn{
    background-color: #ef0400;
}

.footer {
    min-height: 400px;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 80px;
}

ul, li, ol {
    list-style: none;
}

.address-info {
    padding: 0;
    margin: 0;
}

.address-info li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-line {
    background-color: #ef0400;
    height: 2px;
    margin: 10px auto 25px 0;
    padding: 0;
    width: 36px;
}

.customer-sp {
    padding: 0;
    margin: 0;
}

.customer-sp li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.customer-sp a {
    color: #fff;
}

.customer-sp a:hover {
    text-decoration: none;
    color: #ef0400;
    transition: all 0.5s;
    cursor: pointer;
}

.Copyright {
    min-height: 100px;
    background-color: #1f1f1f;
}

.copyRight-title {
    color: #fff;
    padding: 35px;
    text-align: center;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
}

.social-list {
    padding: 35px;
    text-align: center;
}

.social-app {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-instagram { 
    font-size:30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube {
    color: red
}

.fa-twitter-square {
    color: #00b6f1;
}