doctype html
html(lang="en") 
    head
        title Butter

        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Boostrap & CSS
        link(rel="stylesheet" href="BlogStyle.css" )
        link(rel="stylesheet" href="indexStyle.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap")
    body
        .container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
            //Navbar
            .col-2.d-flex.justify-content-center
                a(href="/")
                    img(src="logo.png" alt="Butter logo")
            .col-10.d-flex.justify-content-center
                ul(id="nav-list").nav.align-items-center
                    li.nav-item.dropdown <a class="home" href="/"> HOME </a> 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="#") Bakery
                            a(class="dropdown-item" href="#") Coffee
                            a(class="dropdown-item" href="#") Pizza
                            a(class="dropdown-item" href="#") Winery
                            a(class="dropdown-item" href="#") Restaurant
                    li.nav-item SHOP
                    li.nav-item.dropdown PAGES 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="/aboutUs") About Us
                            a(class="dropdown-item" href="/service") Service
                    li.nav-item.dropdown <a class="menu" href="/menu"> MENU </a>
                    li.nav-item 
                        a(class="reservation" href="/reservation") RESERVATION
                    li.nav-item 
                        a(class="Blog" href="/Blog") BLOG
                    li.nav-item
                        a(class="contact" href="/login") LOGIN
                    li.nav-item
                        a(class="contact" href="/signUp") SIGN UP
                    li.nav-item
                        a(class="contact" href="/contact") CONTACT
                    li.nav-item
                        i(class="fas fa-cart-plus fa-lg")
                    li.nav-item
                        i(class="fas fa-search fa-lg" onclick="myFunction()")
                div.col-12(id="search-bar")
                    i(class="fas fa-search fa-lg" onclick="myFunction()")
                    input(type="text", placeholder="Search Here ..... !", )
            //  - Page Header
        .page_header_login
            img.Image_Pg_Header(src="site-img14.jpg" alt="Page header")
            .pageH
                .Page_header_content
                    h2.content_header BLOG
                    p.content_main News and Events about Pizzas ...
                //- Breadcrumb
                .Breadcrumbs
                    a.Home(href="/" style="text-decoration: none;") Home
                    i /
                    p.Login_Form Blog

        div(id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel")
            ol(class="carousel-indicators")
                li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                li(data-target="#carouselExampleIndicators" data-slide-to="1")
                li(data-target="#carouselExampleIndicators" data-slide-to="2")
            div(class="carousel-inner" role="listbox")
            //Slide One
            div(class="carousel-item active" style="")
                img.pic.pic1(src="pizza1.jpg")
                div(class="carousel-caption d-none d-md-block")
            //Slide Two
            div(class="carousel-item")
                img.pic.pic2(src="pizza2.jpg")
                div(class="carousel-caption d-none d-md-block")
            //Slide Three
            div(class="carousel-item")
                img.pic.pic3(src="pizza3.jpg")
                div(class="carousel-caption d-none d-md-block")
        
            .Content(style="color: black")
                h3.Header_Content THE STORY OF THE PIZZA 
                p.Paragr_Content Pizza, favored by all ages, dates back to 1889. Pizza, garnished with Mozzarella and tomatoes, was normally known as the dish for poor people until it became a famous dish for the wealthy when Queen Margherita had it as a meal as well. Pizza, with sauces and spices such as basil and garlic added later on, gets recognition by other nations with the arrival of Italian immigrants to the United States.  The spread of pizza all over the world is due to the initiatives of the Americans. At that time in Italy, pizzas were made with Mozzarella and tomatoes however later on were served with different ingredients used today. Pizza, which has spread quickly outside of the USA, has become a favorite dish for consumers of all ages. 
        .Image-center
            img.pic4(src="pizza4.png")
            p.content_pic4_header OUR CONCEPT
            p.content_pic4_main Our Mission is to offer a high quality products to our customers each and every time they place an order with our Pizza restaurant.  We strive to provide a clean and healthy environment, along with the freshest and highest quality product. We strive to be productive member of our communities, whether it is the community surrounding our stores or our franchising family of which we are a part – strong, trusting relations are a key ingredient to our success.
        .Blog-Content-Main
            a.blog1(href="/Blog1" style="text-decoration: none; color: black")
                img.blog1-picture(src="pizza6.jpg", alt="Blog 1")
                h3.blog1-header Different Pizza Types For Different Palates
                p.blog1-subheader There are dozens of famous pizzas that appeal to different palates specially in the USA and Italy. In addition to the ready-made pizzas that are available at pizza restaurants you can also choose pizzas with only the ingredients you want to eat.
        .Quotes
            p.quotes1 “A pizza slice a day keeps sadness away”
            p.author1 - Jet Paacal -
        .Blog-Content-Main
            a.blog1.blog2(href="/Blog2" style="text-decoration: none; color: black")
                img.blog1-picture.blog2(src="IAM_3129w.jpg", alt="Blog 2")
                h3.blog1-header.blog2 Pizza Grilled Cheese Recipe
                p.blog1-subheader.blog2. 
                    Do you guys ever get a craving for pizza but the 30 minutes it takes for delivery to arrive 
                    just seems way too long? I have the answer, my friends! Pizza grilled cheese! All the goodness of pizza, 
                    minus the pizza crust because who has pizza crust just hanging out in the fridge at home? Oh wait, you do? Can we be friends?!
        .Blog-Content-Main
            a.blog1.blog3(href="#" style="text-decoration: none; color: black")
                img.blog1-picture.blog3(src="pizza8.jpg", alt="Blog 2")
                h3.blog1-header.blog3 Different Pizza Types For Different Palates
                p.blog1-subheader.blog3 There are dozens of famous pizzas that appeal to different palates specially in the USA and Italy. In addition to the ready-made pizzas that are available at pizza restaurants you can also choose pizzas with only the ingredients you want to eat.   
        .Quotes2(style="color: white; text-align: center; background-image: url('parallax-bg.jpg'); height: 300px")
            p.quotes2-header(style="font-family: 'Parisienne', cursive; font-size: 60px; font-weight: bold") Tips for the Perfect Pizzas
            p.content2-quotes2(style="font-family: 'Raleway', sans-serif; font-size: 20px") The most important point of making a pizza is the dough and the cooking method. Although pizza dough is a changing concept based on different palates, pizzaiolos  suggest that the dough should be as thin as possible. It is believed that a more delicious pizza can be obtained by focusing more on toppings rather than the dough. The pizza dough is as important as baking it. After all the ingredients have been added, the pizza should be placed on a higher rack in the oven. Thus, ingredients are cooked at the same time as the dough. You can also eat the pizza only with spices or sauces such as ketchup, mayonnaise, Ranch and mustard.
        //Footer
        .footer
            .container-fluid.row(style="background-color: black;") 
                .col-6
                    h4 About Company
                    .title-line 
                    p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                    ul.address-info 
                        li
                            <i class="fas fa-map-marker-alt"></i>   15 Barnes Wallis Way, 358744, USA
                        li 
                            <i class="fas fa-phone"></i>    +1 (012) 345 6789 
                        li
                            <i class="fas fa-envelope"></i>   info@yourdomain.com
                .col-6 
                    h4 Twitter Feed!
                    .title-line 
                    ul.customer-sp
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Customer Support
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Documentation
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Developer Center
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") General FAQs
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2016 yourdomian. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        <i class="fab fa-facebook-square fa-3x"></i>
                    li.social-app
                        <i class="fab fa-instagram fa-3x"></i>
                    li.social-app
                        <i class="fab fa-youtube fa-3x"></i>
                    li.social-app
                        <i class="fab fa-twitter-square fa-3x"></i> 