doctype html
html(lang="en") 
    head
        title Butter

        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Boostrap & CSS
        link(rel="stylesheet" href="Blog1Style.css" )
        link(rel="stylesheet" href="indexStyle.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Parisienne&display=swap")
    body
        .container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
            //Navbar
            .col-2.d-flex.justify-content-center
                a(href="/")
                    img(src="logo.png" alt="Butter logo")
            .col-10.d-flex.justify-content-center
                ul(id="nav-list").nav.align-items-center
                    li.nav-item.dropdown <a class="home" href="/"> HOME </a> 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="#") Bakery
                            a(class="dropdown-item" href="#") Coffee
                            a(class="dropdown-item" href="#") Pizza
                            a(class="dropdown-item" href="#") Winery
                            a(class="dropdown-item" href="#") Restaurant
                    li.nav-item SHOP
                    li.nav-item.dropdown PAGES 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="/aboutUs") About Us
                            a(class="dropdown-item" href="/service") Service
                    li.nav-item.dropdown <a class="menu" href="/menu"> MENU </a>
                    li.nav-item 
                        a(class="reservation" href="/reservation") RESERVATION
                    li.nav-item 
                        a(class="Blog" href="/Blog") BLOG
                    li.nav-item
                        a(class="contact" href="/login") LOGIN
                    li.nav-item
                        a(class="contact" href="/signUp") SIGN UP
                    li.nav-item
                        a(class="contact" href="/contact") CONTACT
                    li.nav-item
                        i(class="fas fa-cart-plus fa-lg")
                    li.nav-item
                        i(class="fas fa-search fa-lg" onclick="myFunction()")
                div.col-12(id="search-bar")
                    i(class="fas fa-search fa-lg" onclick="myFunction()")
                    input(type="text", placeholder="Search Here ..... !", )
            //  - Page Header
        .page_header_login
            img.Image_Pg_Header(src="site-img14.jpg" alt="Page header")
            .pageH
                .Page_header_content
                    h2.content_header(style="font-family: 'Montserrat', sans-serif; font-size: 60px !important; text-shadow: 0 3px 2px rgb(0 0 0 / 111%);") BLOG
                    p.content_main Different Pizza Types For Different Palates
                //- Breadcrumb
                .Breadcrumbs
                    a.Home(href="/" style="text-decoration: none;") Home
                    i /
                    a.Home(href="/Blog" style="text-decoration: none;") Blog
        .Quotes
            p.quotes1 "There’s no better feeling in the world than a warm Pizza box in your lap"
            p.author1 - Kevin James -
        .Image-center
            img.pic4.pic9(src="pizza9.png" alt="Picture 2")
            p.content_pic4_header.pic9 VEGETARIAN PIZZA
            p.content_pic4_main.pic9 The vegetarian pizzas are made mainly for consumers who prefer vegetables and generally ingredients such as peppers, mushrooms, tomatoes, cheddar, Mozzarella, olives, onions and corn are used. In case there are any ingredients in the pizza which you do not like you can have it removed or have the ones you like added on more. Vegetarian pizza, often preferred by people who do not eat meat, contains less calories in comparison with other selections.
        .Blog-Content-Main
            .blog1
                img.blog1-picture(src="pizza10.jpg", alt="Picture 3")
                p.blog1-subheader If you like vegetable pizza, you have to try this one, it’s the BEST! The flavors are SO good and because there are so many veggies involved you can eat as many pieces as you want.
        .Image-center
            img.pic10(src="pizza11.png" style="float:right !important;")
            p.content_pic10_header NEW YORK PIZZA
            p.content_pic10_main The New York pizza type, which is popular with children, is more appealing to people who enjoy simple delicacies. This, light and easy to digest pizza is made of tomatoes, cheddar and onion on a thin crust. There is also a variant of this pizza made with ground mutton. You can make a choice based on your palate.
        .Blog-Content-Main
            .blog1.blog12
                img.blog12-picture(src="pizza12.jpg", alt="Picture 4")
                p.blog12-subheader New York–style pizza is traditionally hand-tossed, consisting in its basic form of a light layer of tomato sauce sprinkled with dry, grated, full-fat mozzarella cheese; additional toppings are placed over the cheese. Pies are typically around 18 to 24 inches (45 to 60 cm) in diameter, and commonly cut into eight slices.
        .Image-center.pic3
            img.pic10(src="pizza13.png" style="float:right !important; margin-bottom: 40px")
            p.content_pic13_header NEAPOLITAN PIZZA
            p.content_pic10_main Neapolitan pizza, which is one of the most popular among pizza varieties, appeals to all tastes due to its abundant of ingredients. This type of pizza meets expectations of consumers who enjoy intense flavors, which ingredients such as sausage, salami, tomatoes, onions, mushrooms, olives, corn, cheese and eggs are used.
        .Blog-Content-Main
            .blog1.blog12.blog14
                img.blog14-picture(src="pizza14.jpeg", alt="Picture 5")
                p.blog12-subheader(style="margin: 0 220.97px") Neapolitan pizza is a Traditional Speciality Guaranteed (TSG) product in Europe, and the art of its making is included on UNESCO's list of intangible cultural heritage. This style of pizza gave rise to the New York-style pizza that was first made by Italian immigrants to the United States in the early 20th century.

        .Image-center
            img.pic4.pic15(src="pizza15.png" alt="Picture 6" style="margin-bottom: 0")
            p.content_pic15_header SICILIAN PIZZA
            p.content_pic4_main.pic15 The Sicilian pizza, which appeals cheese lovers, contains Mozzarella cheese, Cheddar cheese, Parmesan cheese, Gorgonzola cheese, dried tomatoes and various spices. You can be sure that you will be delighted by the delicate taste created by the mixed melted cheese topped with dried tomatoes. The secret to Sicilian pizza is, its thin crust. You will be able to taste the cheese better due to the thin crust. 
            img.pic4.pic16(src="pizza16.png" alt="Picture 7" style="margin-bottom: 0px !important; float: left")
            p.content_pic16_header MARGHERITA PIZZA
            p.content_pic4_main.pic16 This pizza variant named after Queen Margherita is while also the first pizza made, it contains tomatoes, Mozzarella and basil. This variant loved by the Italian people emerged during the poverty and wartime period, in which Italian women would add ingredients that were available on the dough.
            img.pic4.pic17-img(src="pizza17.png" alt="Picture 8" style="float: left; margin-bottom: 0")
            p.content_pic17_header CHICAGO PIZZA
            p.content_pic4_main.pic17 The Chicago pizza type, which has a different structure than the other pizzas, is known as deep-dish pizza with high edges and thick layer of toppings. The pizza which usually contains tomatoes and cheese gives it a layered appearance. The Chicago pizza, which you can add different ingredients depending on your wishes, is also a thick crust pizza
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2016 yourdomian. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        <i class="fab fa-facebook-square fa-3x"></i>
                    li.social-app
                        <i class="fab fa-instagram fa-3x"></i>
                    li.social-app
                        <i class="fab fa-youtube fa-3x"></i>
                    li.social-app
                        <i class="fab fa-twitter-square fa-3x"></i> 