doctype html
html(lang="en") 
    head
        title Butter

        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Boostrap & CSS
        link(rel="stylesheet" href="indexStyle.css" )
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")

        // The core Firebase JS SDK is always required and must be listed first
        <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-firestore.js"></script>
        // TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-analytics.js"></script>
        <script src="app.js"></script>
    body
        .container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
            //Navbar
            .col-2.d-flex.justify-content-center
                a(href="#")
                    img(src="logo.png" alt="Butter logo")
            .col-10.d-flex.justify-content-center
                ul(id="nav-list").nav.align-items-center
                    li.nav-item.dropdown <a class="home" href="/"> HOME </a>
                    li.nav-item 
                        a(class="contact" href="/Shop") SHOP
                    li.nav-item.dropdown PAGES 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="/aboutUs") About Us
                            a(class="dropdown-item" href="/service") Service
                    li.nav-item.dropdown <a class="menu" href="/menu"> MENU </a>
                    li.nav-item 
                        a(class="reservation" href="/reservation") RESERVATION
                    li.nav-item 
                        a(class="Blog" href="/Blog") BLOG
                    li.nav-item
                        a(class="contact" href="/contact") CONTACT
                    li.nav-item
                        if cartLength
                            span(class="fa-stack fa-2x has-badge" data-count=cartLength)
                                a(href="/ShoppingCart")
                                    i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
                        else
                            span(class="fa-stack fa-2x has-badge" data-count=0)
                                a(href="/ShoppingCart")
                                    i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
                    li.nav-item
                        i(class="fas fa-search fa-lg" onclick="myFunction()")
                    if user
                        li.nav-item
                            a(href="/profilePage")
                                img(src=user.avatar alt="Avatar" class="avatar-nav")
                        li.nav-item.dropdown
                            a(class="contact" href="/profilePage")= user.userName
                            div(class="dropdown-content")
                                a(class="dropdown-item" href="/profilePage") Profile
                                a(class="dropdown-item" href="/logOut") Log Out
                    else
                        li.nav-item
                            a(class="contact" href="/logIn") LOGIN
                        li.nav-item
                            a(class="contact" href="/signUp") SIGN UP      
                div.col-12(id="search-bar")
                    i(class="fas fa-search fa-lg" onclick="myFunction()")
                    input(type="text" id="searchBar" placeholder="Search Here ..... !")
                    div(id="search_List")
                        ul(id="dishesList")
        div(id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel")
            ol(class="carousel-indicators")
                li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                li(data-target="#carouselExampleIndicators" data-slide-to="1")
                li(data-target="#carouselExampleIndicators" data-slide-to="2")
            div(class="carousel-inner" role="listbox")
            //Slide One
            div(class="carousel-item active" style="background-image: url('slider-bg.jpg')")
                div(class="carousel-caption d-none d-md-block")
                    h2(class="display-4") Perfect
                    p(class="lead") Fresh out of the oven
            //Slide Two
            div(class="carousel-item" style="background-image: url('slider-bg1.jpg')")
                div(class="carousel-caption d-none d-md-block")
                    h2(class="display-4") Real
                    p(class="lead") Bite into tender juicy goodness.
            //Slide Three
            div(class="carousel-item" style="background-image: url('slider-bg2.jpg')")
                div(class="carousel-caption d-none d-md-block")
                    h2(class="display-4") Tasty
                    p(class="lead") All the flavor, not on your dreams.
            a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
                span(class="sr-only") Previous
            a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
                span(class="sr-only") Next
        .section.row.container-fluid  
            .col-2
            .col-8
                p.section_01 Please be a traveler, not a tourist. Try new things, meet new people, and look beyond what’s right in front of you. Those are the keys to understanding this amazing world we live in.
                    br
                    p.section_002 Andrew Zimmern
            .col-2
        .section.row.container-fluid 
            .col-12
                .row
                    .col-6
                        img(src="site-img51.jpg")
                    .col-6
                        div(class="card whitebox" style="width: 30rem; height: 30rem")
                            div(class="card-body")
                                h5.cardMainHeader OUR STORY
                                p.textMainHeader Starting from simple things, but the elements of earth, air and water have cultivated great things from us. The delicious pizzas are made from quality flour selected from the highest grade.
                                    br
                                    | The fresh, succulent tomatoes are carefully cultivated from the selection of varieties, taking care of the right temperature to grow in the best way. The seafood and meat are carefully selected at the input so that the chef can create great dishes. We say no to ingredients of unknown origin, products containing chemical residues and withered foods. We always guarantee with all our heart that we will bring our customers the best food. 
                                button(type="button" class="btn btn-danger btn-lg customBtn") KNOW MORE

        .section_03.row
            .col-1
            .col-10.row  
                .col-lg-4.col-md-4
                    div(class="card")
                        img(class="card-img-top" src="Seafood Deluxe.png" alt="Card image cap")
                        div(class="card-body")
                            h5(class="card-title") SEAFOOD DELUXE
                            p(class="card-text") Prawn, crab sticks and calamari with Marinara sauce</p>
                            .row.card-text
                                p.price-tag.col-lg-6.flex-col.justify-content-center 129,000 VND
                                a(href="/Shop" class="btn btn-primary customBtn col-lg-6") GO TO SHOP
                .col-lg-4.col-md-4
                    div(class="card")
                        img(class="card-img-top" src="ZucchiniBasil.png" alt="Card image cap")
                        div(class="card-body")
                            h5(class="card-title") Zucchini Basil Sauce
                            p(class="card-text") Zucchini and Basil with House-made Latic Cheese</p>
                            .row.card-text
                                p.price-tag.col-lg-6.flex-col.justify-content-center 147,000 VND
                                a(href="/Shop" class="btn btn-primary customBtn col-lg-6") GO TO SHOP
                .col-lg-4.col-md-4
                    div(class="card")
                        img(class="card-img-top" src="BurrataHam.png" alt="Card image cap")
                        div(class="card-body")
                            h5(class="card-title") Burrata Parma Ham
                            p(class="card-text") Burrata is high-qualified that is so great when combining with ham</p>
                            .row.card-text
                                p.price-tag.col-lg-6.flex-col.justify-content-center 299,000 VND
                                a(href="/Shop" class="btn btn-primary customBtn col-lg-6") GO TO SHOP

            .col-1
        .section_04
            .container-fluid.row
                .col-4
                .col-8
                    h1.Offers-tittle SPECIAL OFFERS
                    .row 
                        .col-6
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Seafood Deluxe
                                    span.col-4.offers-price  129.000
                                p Prawn, crab sticks and calamari with Marinara sauce
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Seafood and Peach
                                    span.col-4.offers-price  169.000
                                p Shrimp, Ham, Peach "exploded" together with Thousand Island sauce
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Tropical Seafood
                                    span.col-4.offers-price  129.000
                                p Crab sticks, pineapples and Thousand Island sauce
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Aloha
                                    span.col-4.offers-price  119.000
                                p Ham, pepperoni, pork sausage and juicy pineapple with Thousand Island sauce
                        .col-6
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Pasta shrimp rose
                                    span.col-4.offers-price  129.000
                                p The juiciness of fresh shrimps combined with delectable rosé sauce
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Pasta bolognese
                                    span.col-4.offers-price  119.000
                                p Italian-style mince beef sauce finely mixed with pasta
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Signature salad
                                    span.col-4.offers-price  69.000
                                p Broccoli, purple cabbage, apple mixed with boiled quail eggs and Salad sauce
                            .menu-card 
                                .menu-item.row 
                                    h3.col-8 Chicken Strip Salad
                                    span.col-4.offers-price  69.000
                                p Crispy chicken salad with quail eggs, bacon, parmesan and Thousand Island
        .section_05
            .container-fluid.row
                .col-1 
                .col-10 
                    h1 FROM OUR BLOG
                    .blog-card.row 
                        .col-4 
                            a(href='/Blog1')
                                img(src="pizza4.png")
                            p
                                a(href="/Blog1") The story of the pizza
                            h2 Pizza, garnished with Mozzarella and tomatoes, was normally known as the dish for poor people until it became a famous dish for the wealthy when Queen Margherita had it as a meal as well.
                        .col-4 
                            a(href='/Blog2')
                                img(src="pizza-grilled-cheese-3103.jpg")
                            p
                                a(href="/Blog2") Pizza Grilled Cheese Recipe
                            h2 Pizza grilled cheese: perfect for those times when a pizza craving hits but you're too hangry to wait the 30-40 minutes for delivery!
                        .col-4
                            a(href='/Blog3')
                                img(src="slice-large.jpg")
                            p
                                a(href="/Blog3") 16 Pizza Taste And Texture Tips
                            h2 There are a number of taste and texture issues that you will encounter when starting to make pizza. This list is set of common pizza dough problems and some ways to improve next time.
                .col-1 
        //Footer
        .footer
            .container-fluid.row 
                .col-6
                    h4 About Company
                    .title-line 
                    p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                    ul.address-info 
                        li
                            <i class="fas fa-map-marker-alt"></i>   15 Barnes Wallis Way, 358744, USA
                        li 
                            <i class="fas fa-phone"></i>    +1 (012) 345 6789 
                        li
                            <i class="fas fa-envelope"></i>   info@yourdomain.com
                .col-6 
                    h4 Twitter Feed!
                    .title-line 
                    ul.customer-sp
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Customer Support
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Documentation
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Developer Center
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="/FAQs") General FAQs
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2016 yourdomian. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        <i class="fab fa-facebook-square fa-3x"></i>
                    li.social-app
                        <i class="fab fa-instagram fa-3x"></i>
                    li.social-app
                        <i class="fab fa-youtube fa-3x"></i>
                    li.social-app
                        <i class="fab fa-twitter-square fa-3x"></i>
