doctype html
html(lang="en") 
    head
        title Butter

        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Boostrap & CSS
        link(rel="stylesheet" href="register_style.css")
        link(rel="stylesheet" href="indexStyle.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
    body
        .container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
            //Navbar
            .col-2.d-flex.justify-content-center
                a(href="/")
                    img(src="logo.png" alt="Butter logo")
            .col-10.d-flex.justify-content-center
                ul(id="nav-list").nav.align-items-center
                    li.nav-item.dropdown <a class="home" href="/"> HOME </a> 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="#") Bakery
                            a(class="dropdown-item" href="#") Coffee
                            a(class="dropdown-item" href="#") Pizza
                            a(class="dropdown-item" href="#") Winery
                            a(class="dropdown-item" href="#") Restaurant
                    li.nav-item SHOP
                    li.nav-item.dropdown PAGES 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="/aboutUs") About Us
                            a(class="dropdown-item" href="#") Our Chefs
                            a(class="dropdown-item" href="/service") Service
                            a(class="dropdown-item" href="/logIn") Log in 
                            a(class="dropdown-item" href="/SignUp") Sign Up
                    li.nav-item.dropdown MENU 
                    li.nav-item RESERVATION
                    li.nav-item GALLERY
                    li.nav-item BLOG
                    li.nav-item CONTACT
                    li.nav-item
                        i(class="fas fa-cart-plus fa-lg")
                    li.nav-item
                        i(class="fas fa-search fa-lg" onclick="myFunction()")
                div.col-12(id="search-bar")
                    i(class="fas fa-search fa-lg" onclick="myFunction()")
                    input(type="text", placeholder="Search Here ..... !", )
        //- Page Header
        .page_header_login
            img.Image_Pg_Header(src="site-img12.jpg" alt="Page header")
            .pageH
                .Page_header_content
                    h2.content_header RESERVATION
                    p.content_main Book a Table...!
                //- Breadcrumb
                .Breadcrumbs
                    a.Home(href="/" style="text-decoration: none;") Home
                    i /
                    p.Login_Form(href="") Reservation
        //- Form register
        .form.Log_in(style="max-width:50%; margin:auto;")
            .frame_log_in 
                h3 RESERVATION
                .ROW 
                    .col.inside.UserName
                        input.text_login(type="username" placeholder="Username" name="username")
                        i.fas.fa-user
                    .col.inside.E-mail
                        input.text_login(type="email" placeholder="Email address" name="email")
                        i.fas.fa-envelope
                    .col.inside.Password
                        input.text_login(type="password" placeholder="Phone Number" name="password")
                        i.fas.fa-lock
                    .col.inside.Confirm
                        input.text_login(type="date" id="start" name="trip-start" value="2018-07-22" min="2020-01-01" max="2025-12-31")
                    .col.inside.Gender 
                        select.Gender_List(name="Gender") Gender
                            option(value="0" disabled=" selected disabled") Gender 
                            option(value="1") Male 
                            option(value="2") Female 
                            option(value="3") Other     
                    .col.inside.Guest 
                        select.Gender_List(name="Guest")
                            option(value="" disabled selected) Number of Guest
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="3") 4
                            option(value="3") 5
                            option(value="3") 6
                            option(value="3") 7
                            option(value="0") More
                    .clear
                .button 
                    a.btn.register(href="#") RESERVATION NOW
        .footer
            .container-fluid.row 
                .col-6
                    h4 About Company
                    .title-line 
                    p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                    ul.address-info 
                        li
                            <i class="fas fa-map-marker-alt"></i>   15 Barnes Wallis Way, 358744, USA
                        li 
                            <i class="fas fa-phone"></i>    +1 (012) 345 6789 
                        li
                            <i class="fas fa-envelope"></i>   info@yourdomain.com
                .col-6 
                    h4 Twitter Feed!
                    .title-line 
                    ul.customer-sp
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Customer Support
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Documentation
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Developer Center
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") General FAQs
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2016 yourdomian. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        <i class="fab fa-facebook-square fa-3x"></i>
                    li.social-app
                        <i class="fab fa-instagram fa-3x"></i>
                    li.social-app
                        <i class="fab fa-youtube fa-3x"></i>
                    li.social-app
                        <i class="fab fa-twitter-square fa-3x"></i>